.todoItem {
	flex-basis: 100%;
	text-align: center;
	box-shadow: 0 0 1rem 0 rgba(#000, 0.1), 0 1rem 1rem 0 rgba(#000, 0.1);
	margin-top: 1.5rem;
	padding: 1rem;
	overflow: hidden;
	border-radius: 0.25rem;
	transition: box-shadow 0.2s ease-in-out;
	min-height: 115px;

	&:hover {
		box-shadow: 0 0 1rem 0 rgba(#000, 0.15), 0 1rem 1rem 0 rgba(#000, 0.15);
	}

	&.complete h2 {
		text-decoration: line-through;
	}

	.mb1 {
		margin-bottom: 1rem;
	}

	h2 {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1rem;
		margin-left: 0.5rem;
	}

	.btn {
		background-color: transparent;

		&:first-of-type {
			margin-right: 1rem;
		}

		&.delete {
			background: #d9534f;
			color: #fff;
			border: 1px solid #d9534f;
		}
	}

	input[type='text'] {
		width: 100%;
		margin-bottom: 1rem;
	}
}
